body {
    --bg-color: var(--tg-theme-bg-color, #fff);
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--tg-theme-text-color, #222);
    font-size: 14px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}
body.gray {
    background-color: var(--tg-theme-secondary-bg-color, #efefef);
}
/* Styling Labels */
label {
    color: var(--tg-theme-text-color, #222);
}

/* Styling Input Fields */
#taskName, #targetValue {
    display: block;
    width: 90%;
    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 16px;
}

/* Styling Checkboxes */
#important, #repeat, #target {
    width: 70%;
    height: 20px;
    margin: 0.5em auto;
}

/* Styling Date Picker */
#dateTime {
    display: block;
    width: 90%;
    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 16px;
}

/* Styling Dropdown Lists */
#frequency, #valueType {
    display: block;
    width: 90%;
    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    height: 50px;
    font-size: 16px;
}

/* Adding Responsiveness so that it will look good on mobile view */
@media screen and (max-width: 480px) {
    #taskName, #targetValue, #dateTime, #frequency, #valueType {
        width: 100%;
    }
    #important, #repeat, #target {
        width: 100%;
    }
}
