body {
    --bg-color: var(--tg-theme-bg-color, #fff);
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--tg-theme-secondary-bg-color, #efefef);
    font-size: 14px;
    margin: 0;
    padding: 0;
}
/* Styling Labels */
label {
    color: var(--tg-theme-text-color, #222);
}

/* Styling Input Fields */
#taskName, #targetValue {
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid var(--tg-theme-link-color, #000);
    background-color: var(--tg-theme-secondary-bg-color, #ffffff);
    border-radius: 4px;
    color: var(--tg-theme-text-color, #222222);
    text-align: center;
}

/* Styling Checkboxes */
#important, #repeat, #target {
    width: 40%;
    height: 20px;
    display: inline-block;
    margin: 0.5em auto;
    position: center;
    top: -1px;
}

/* Styling Date Picker */
#dateTime {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid var(--tg-theme-link-color, #ffffff);
    background-color: var(--tg-theme-secondary-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #ffffff);
    text-align: center;
    display: block;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
}

.container{
    max-width: 600px;
    margin: auto;
    background-color: var(--tg-theme-secondary-bg-color, #0088cc);
}
.taskCard{
    border-radius: 0px;
    border: 1px solid  var(--tg-theme-bg-color, #222222);
    padding: 20px;
    margin: 20px 0;
    background-color: var(--tg-theme-bg-color, #222222);
}

/* Styling Dropdown Lists */
#frequency, #valueType {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid var(--tg-theme-link-color, #000);
    background-color: var(--tg-theme-secondary-bg-color, #ffffff);
    border-radius: 4px;
    color: var(--tg-theme-text-color, #222222);
    text-align: center;
    display: block;
    height: 50px;
    font-size: 16px;
}

/* Adding Responsiveness so that it will look good on mobile view */
@media screen and (max-width: 480px) {
    #taskName, #targetValue, #dateTime, #frequency, #valueType {
        width: 100%;
    }
    #important, #repeat, #target {
        width: 100%;
    }
}
